---
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Programador Junior",
    description:
      "Cursando el 6to Semestre de la carrera de TSU Informatica.",
    link: "#",
  },

  {
    date: "Octubre 2023",
    title: "Colaboracion Desarrollo de Pagina Web",
    description:
      "Tuve la oportunidad de colaborar en el  desarrollo de una Pagina Web Informativa, para la Union Venezolana Oriental de los Adventistas del Séptimo día.",
    link: "#",
  },
];

import ExperinceItem from "./ExperinceItem.astro";
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperinceItem {...experience} />
      </li>
    ))
  }
</ol>
