---
const EXPERIENCE = [

  {
    date: "Octubre 2023",
    title: "Colaboración - Desarrollo de Pagina Web",
    description:
      "Tuve la oportunidad de colaborar en el desarrollo de una pagina web. Para la Union Venezolana Oriental de los Adventistas del Séptimo día.",
    link: "",
  },
];

import ExperinceItem from "./ExperinceItem.astro";
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperinceItem {...experience} />
      </li>
    ))
  }
</ol>
