---
import Badge from "./Badge.astro"
---


<main>
   <h1 class="text-white">Hola, soy Jesus <Badge>Disponible para Trabajar</Badge></h1>
   <h2>Programador Junior. Desarrollador Web, De Venezuela, En Busca de Soluciones Sencillas y Efectivas Que Marquen la Diferencia.</h2>
</main>

<style>
   main {
      width: 100%;
      height: 100%;
   }
</style>